.convert__screen {

    &__currency {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;
        margin-bottom: 1rem;
    }

    &__news {

        &__promo {
            font-size: 25px;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

.switch {
    font-size: 2rem;
    cursor: pointer;
}